hw_mode=a
driver=nl80211
ssid=H
channel=0
ignore_broadcast_ssid=0
bridge=brblue
wpa_pairwise=TKIP
rsn_pairwise=CCMP
auth_algs=1
#macaddr_acl=0

interface=wlp5s0
country_code=NL
ieee80211d=1
ieee80211h=1

max_num_sta=128
ieee80211ac=1
ieee80211n=1
wmm_enabled=1
#ht_capab=[OFDM][BPSK][QPSK][DBPSK][DQPSK][16-QAM][64-QAM][256-QAM][HT20][HT40+][HT40-]
ht_capab=[OFDM][BPSK][QPSK][DBPSK][DQPSK][16-QAM][64-QAM][256-QAM][HT20][HT40+][LDPC][SHORT-GI-20][SHORT-GI-40][TX-STBC][RX-STBC1][DSSS_CCK-40][HT40-][MAX-AMSDU-7935]
#vht_oper_centr_freq_seg0_idx=42
vht_capab=[MAX-MPDU-11454][RXLDPC][SHORT-GI-80][TX-STBC-2BY1][RX-STBC-1][MAX-A-MPDU-LEN-EXP7][RX-ANTENNA-PATTERN][TX-ANTENNA-PATTERN][BF-ANTENNA-2][SOUNDING-DIMENSION-2][VHT-LINK-ADAPT3]
vht_oper_chwidth=1

#logger_syslog=-1
#logger_syslog_level=0
#logger_stdout=-1
#logger_stdout_level=4
#ctrl_interface=/var/run/hostapd
#ctrl_interface_group=0
disassoc_low_ack=1
#ignore_broadcast_ssid=0
#noscan=1
ieee80211w=2
wpa=2
wpa_passphrase=h
wpa_key_mgmt=WPA-PSK
wmm_enabled=1
#basic_rates=60
#supported_rates=60 90 120 180 240 360 480 540
preamble=1
uapsd_advertisement_enabled=1

wmm_ac_bk_cwmin=4
wmm_ac_bk_cwmax=10
wmm_ac_bk_aifs=7
wmm_ac_bk_txop_limit=0
wmm_ac_bk_acm=0
wmm_ac_be_aifs=3
wmm_ac_be_cwmin=4
wmm_ac_be_cwmax=10
wmm_ac_be_txop_limit=0
wmm_ac_be_acm=0
wmm_ac_vi_aifs=2
wmm_ac_vi_cwmin=3
wmm_ac_vi_cwmax=4
wmm_ac_vi_txop_limit=94
wmm_ac_vi_acm=0
wmm_ac_vo_aifs=2
wmm_ac_vo_cwmin=2
wmm_ac_vo_cwmax=3
wmm_ac_vo_txop_limit=47
wmm_ac_vo_acm=0

### TX queue parameters
tx_queue_data3_aifs=7
tx_queue_data3_cwmin=15
tx_queue_data3_cwmax=1023
tx_queue_data3_burst=0
tx_queue_data2_aifs=3
tx_queue_data2_cwmin=15
tx_queue_data2_cwmax=63
tx_queue_data2_burst=0
tx_queue_data1_aifs=1
tx_queue_data1_cwmin=7
tx_queue_data1_cwmax=15
tx_queue_data1_burst=3.0
tx_queue_data0_aifs=1
tx_queue_data0_cwmin=3
tx_queue_data0_cwmax=7
tx_queue_data0_burst=1.5

bss=wifi5v0
bssid=10:13:10:95:fe:0b
ssid=E
wpa=2
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
wpa_passphrase=e
bridge=brpurple

bss=wifi5v1
bssid=10:13:10:95:fe:0c
ssid=C
wpa=2
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
wpa_passphrase=c
bridge=brblack

bss=wifi5v2
bssid=10:13:10:95:fe:0d
ssid=T
wpa=2
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
wpa_passphrase=t
bridge=bryellow

bss=wifi5v3
bssid=10:13:10:95:fe:0e
ssid=X
wpa=2
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
wpa_passphrase=x
bridge=brwhite
